<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="softwaretestingmaterial">
    <test name="testngTest">
        <parameter name="myName"  value="true"/>
        <classes>
            <class name="runner.toolsQaRunner" />
        </classes>
    </test>
</suite>